<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Chat</title>
    <link rel="stylesheet" href="/create.css" />
  </head>
  <body>
    <form action="/chats" method="post">
      <input type="text" name="from" id="from" placeholder="Enter your name" />
      <br /><br />
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        type="text"
        placeholder="enter message"
      ></textarea>
      <br /><br />
      <input type="text" name="to" id="to" placeholder="enter receiver name" />
      <br />
      <br />

      <button class="create">ADD</button>
    </form>
  </body>
</html>
